body {
  background-image: url(https://www.broadsheet.com.au/media/cache/77/a1/77a14e5706f4b44b561388eb00588767.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.google-map {
  height: 400px;
}
